body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
li {
    list-style-type: none;
}
.logo {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #2E2F42;
}
.logo-span {
    color: #4D5AE5;
}
.title, .header-one {
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 0.02em;
    text-align: center;
}
.header-section {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
}
.header-card {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
}
.buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    margin-top: 96px;
    margin-bottom: 72px;
}
.button-text {
    padding: 16px 32px;
    gap: 10px;
    background-color: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: #ffffff;
    border:none; 
}
.button-text:hover, .button-text:focus {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 32px;
    gap: 10px;
    font-weight: 600;
    line-height: 19px;
    color: #ffffff;
    background-color: #4D5AE5;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
                0px 1px 1px rgba(46, 47, 66, 0.16), 
                0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 4px;
}
.navigation {
    list-style-type: none;
}

.nav-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #2e2f42;
}
.nav-text:hover, .nav-text:focus {
    color: #404BBF;
}
.address {
    color: #434455;
    text-decoration: none;
}
.address:hover, :focus {
    color: #404BBF;
} 
.cards-team {
    width: 264px;
    height: 428;
    background-color: #FFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.88),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
    list-style-type: none;
}
.cards {
    display: flex;
    gap: 24px;
    margin-bottom: 48px;
}
.card-items {
    box-sizing: border-box;
    width: 360px;
    height: 420px;
    background-color: #fff;
    border: 1px solid #e7e9fc;
    text-align: center;
    list-style-type: none;
    display: inline-block;
}