:root {
    --iris-color: #4D5AE5;
    --ocean-color: #404BBF;
    --navy-blue-color: #2E2F42;
    --green-color: #31D0AA;
    --slate-color: #2E2F42;
    --light-slate-color: #8E8F99;
    --cornflower-color: #E7E9FC;
    --cloud-color: #F4F4FD;
    --navy-blue-modal-color: #2E2F4266;
    --gray-color: #2E2F42B2;
}
body {
    font-family: 'Roboto', sans-serif;
    color: var(--navy-blue-color);
    background-color: #FFF;
}
li {
    list-style-type: none;
}
.logo {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--navy-blue-color);
}
.logo-span {
    color: var(--iris-color);
}
.nav-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue-color);
    text-decoration: none;
}

.nav-text:hover,
.nav-text:focus {
    color: var(--ocean-color);
}

.address {
    color: #434455;
    text-decoration: none;
    font-style: normal;

}

.address:hover,
:focus {
    color: var(--ocean-color);
}
.hero-image {
    color: #FFF;
    background-color: var(--navy-blue-color);
}
.title, .header-one {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
}
.header-two {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
}
.header-three {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
}
.button-text {
    font-family: inherit;
    background-color: var(--iris-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: #ffffff;
    border:none; 
}
.button-text:hover, .button-text:focus {
    background-color: var(--ocean-color);
    
}
.buttons {
    color: var(--iris-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    cursor: pointer;
    border: 1px solid var(--cornflower-color);
    border-radius: 4px;
    background-color: var(--cloud-color);
}
.buttons:hover, .buttons:focus {
    color: #FFF;
    background-color: var(--ocean-color);
}
.cards-team {
    background-color: #FFF;
    text-align: center;
}
.card-items {
    width: 360px;
    height: 420px;
    background-color: #fff;
    border: 1px solid var(--cornflower-color);
    text-align: center;
}
.p-cards {
    font-size: 16px;
    color: var(--slate-color);
}
.link {
 text-decoration: none;
 color: inherit;
}
.foot {
    color: var(--cornflower-color);
    background-color: var(--navy-blue-color);
}
.logo-foot {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--cloud-color);
}
.section-three {
    background-color: var(--cloud-color);
}